{% extends "appbase.html"%}
{% block content %}
<div class="main-body">
    <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <img src="../static/images/profile_pics/default_profile.png" alt="Admin" class="rounded-circle"
                            width="150">
                        <div class="mt-3">
                            <h4>{{costumer_name}}</h4>
                            <p class="text-secondary mb-1">{{client.role}}</p>
                            <p class="text-muted font-size-sm">{{client.address}}</p>
                            <button class="btn btn-danger">Edit Profile</button>
                            <button class="btn btn-primary"data-toggle="modal" data-target="#recieve_payment">Recieve Payment</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Full Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{client.firstname}} {{client.lastname}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                           {{client.email}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Primary Phone</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{client.primary_no}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Secondary Phone</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{client.secondary_no}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Address</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                           {{client.address}}
                        </div>
                    </div>
                    <hr>
                    <div class="row ">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Pan No</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{client.pan_no}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 ">
            <div class="card mb-3 bg-dark text-white">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-sm-4 text-center">
                            <h6 class="mb-0">Total Amount</h6>
                        </div>
                        <div class="col-sm-4 text-center">
                            <h6 class="mb-0">Paid Amount</h6>
                        </div>
                        <div class="col-sm-4 text-center">
                            <h6 class="mb-0">Remaning Amount</h6>
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-sm-4 text-white text-center">
                            {{total_amount}}
                        </div>
                        <div class="col-sm-4 text-white text-center">
                            {{paid_amount}}
                        </div>
                        <div class="col-sm-4 text-white text-center">
                            {{remaning_amount}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-body">
                    <table class="display table table-striped table-bordered table-sm compact " style="width:100%;">
                        <thead class="thead-dark">
                            <tr>
                                <th class="text-center">Id</th>
                                <th class="text-center">Date</th>
                                <th class="text-center">Name</th>
                                <th class="text-center">Total Amount</th>
                                <th class="text-center">Paid Amount</th>
                                <th class="text-center">Remaning Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in items %}
                            <tr>
                                <th scope="row"><a href="{{ url_for('application.voucher_id',id=i.id) }}">{{ i.id }}</a>
                                </th>
                                <td class="text-center">{{ i.date.strftime('%Y- %m- %d')}}</td>
                                <td class="text-center"><a
                                        href="{{ url_for('application.profile',costumer_name=i.name) }}">{{i.name}}</a>
                                </td>
                                <td class="text-center">{{i.total_amount}}</td>
                                <td class="text-center">{{i.paid_amount}}</td>
                                <td class="text-center">{{i.remaning_amount}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal " tabindex="-1" role="dialog" id="recieve_payment">
    <div class="modal-dialog" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title">Payment by {{costumer_name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <form method="POST">
                <div class="modal-body">
                    <p></p> <hr>
                <div class = "row form-group">
                    <label for="" class = " col-4" style = "font-weight: bold;">Recieved Amount:</label>
                    {{form1.paid_amount(class = " form form-control col-7 form-control-lg ", type = "number")}}
                </div> 
            </div>
            <div class="modal-footer">
                 
                    {{form1.submit(class = "btn btn-primary")}}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <!-- <input class="btn btn-danger" type="submit" value="Delete"> -->
                </div>
                </form>
           
        </div>
    </div>
    {{client}}
</div>
<style>
    body {
        margin-top: 0px;
        color: #1a202c;
        text-align: left;
        background-color: #e2e8f0;
    }

    .main-body {
        padding: 15px;
    }

    .card {
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
    }

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }

    .gutters-sm {
        margin-right: -8px;
        margin-left: -8px;
    }

    .gutters-sm>.col,
    .gutters-sm>[class*=col-] {
        padding-right: 8px;
        padding-left: 8px;
    }

    .mb-3,
    .my-3 {
        margin-bottom: 1rem !important;
    }

    .bg-gray-300 {
        background-color: #e2e8f0;
    }

    .h-100 {
        height: 100% !important;
    }

    .shadow-none {
        box-shadow: none !important;
    }

</style>

<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.print.min.js"></script>
<link rel="stylesheet" href="  https://cdn.datatables.net/buttons/1.6.4/css/buttons.dataTables.min.css">
<link rel="stylesheet" href=" https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap5.min.css">
<script>
    $(document).ready(function () {
        $('.table').DataTable({
            "pagingType": "simple",

            lengthMenu: [
                [5, 10, 25, 50, -1],
                [5, 10, 25, 50, "All"]
            ],
            pageLength: 5,

        });
    })
    $(document).ready(function () {
        quantity = $('.s_quantity')
        for (i = 0; i < quantity.length; i++) {
            quantity[i].innerHTML = quantity[i].textContent.split('/n').reduce(function (a, b) {
                return parseFloat(a) + parseFloat(b)
            })
        };
        $('.recieve').click(function () {

        })
    })
    $(document).ready(function(){
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    })

</script>
{% endblock %}
